<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<appSettings>
	<add key="CompanyName" value="Naresh I Technologies"/>
	<add key="Address" value="Ameerpet Hyderabad-16"/>
	<add key="Phone" value="0581-23764747"/>
	<add key="WhatsApp" value="8273746299"/>
	<add key="Email"  value="Dharmendagangwar16@gmail.com"/>
	<add key="Website" value="Nareshit.com"/>

</appSettings>
	<connectionStrings>
		<add name="SqlConStr" connectionString="Data Source=DKBABA; User Id=sa;Password=1234; Database=CSDB" />
		<add name="OracleConStr" connectionString="Data Source=DKBABA; User Id=sa;Password=1234; Database=CSDB; Provider=OracleClient"  />
		<add name="ExcelConStr" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=D:\ameerpet study\dotnet\Excel\File.xls;Extended properties=Excel 8.0"/>
	</connectionStrings>

</configuration>